# 🔥 Ambiente virtual
venv/
.env/

# 🔥 Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# 🔥 Logs
*.log

# 🔥 Arquivos de sistema
.DS_Store
Thumbs.db

# 🔥 VS Code
.vscode/

# 🔥 Testes / coverage
.coverage
htmlcov/

# 🔥 Build / dist
dist/
build/
*.egg-info/

# 🔥 Outros
*.tmp
*.bak